<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name> Bank Management System</display-name>
    
    
     
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    
     
    <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.sit.bankmanagement.client.LogoutController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
</servlet-mapping>

<welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
</welcome-file-list>


   
    <session-config>
        <session-timeout>30</session-timeout> 
    </session-config>
    
   
    

   
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.sit.bankmanagement.client.LoginController</servlet-class>
    </servlet>
    
    
   
  
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.sit.bankmanagement.client.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.sit.bankmanagement.client.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/DashboardController</url-pattern>
    </servlet-mapping>
<!-- 
    Error Pages
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/error.jsp</location>
    </error-page>
 -->
  
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Login</web-resource-name>
            <url-pattern>/LoginController</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>BankManagement</realm-name>
    </login-config>
</web-app>
